
*
{
    margin: 0 auto;
    font-family:Arial;
}


/*---------------------------------------------------------Navigation---------------------------------------------------------*/
nav
{
    position:sticky;
    height:10vh;
}
nav ul 
{
    text-align:center;
    width:100%;
    padding: 0 0 0 0;
    background-color: white;
    position: center;
    display:table;
}
nav li
{
    display: inline-block;
    padding: 20px 0 0 0;/* Up and down */
}
nav a
{
    color: Black;
    text-align: center;
    padding: 20px;/* Padding all directions */
    text-decoration: none;
    border:none;
}
nav a:hover {
    background-color:Black;
    color:white;
}

/*------------------------------------------------------------Content------------------------------------------------------------*/

#Content
{
    display: table;
    width:100%;
}

#Content #Col1
{
    display:table-cell;
    Width:15%;
    background-color:Black;
    text-align:left; 
}
#Content #Col2
{
    display:table-cell;
    Width:68%;
    text-align:center;
    background-color:White;
    Color:Black;
    padding:10px;
}
#Content #Col3
{
    display:table-cell;
    Width:15%;
    text-align:right;
    background-color:Black;
}






